@import '../styles/colors';
.carouselwrapper{
  margin-left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  padding:40px 0;
  margin-top: 56px;
  background-color: #F5F5F7;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 24px;
  gap: 24px;
}

.carouselwrapperinner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-column: 3/span 8;
}

.carouseltitle {
  font-family: "PT Serif", serif;
}

.itemcontainer {
  text-decoration: none;
}

.avatar {
  width: 64px;
  height: 64px;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: -32px;
}

.item {
  background-color: #FFFFFF;
  padding: 32px 24px 32px 48px;
  margin: 0 24px;
  border-radius: 8px;
  position: relative;
  .meta {
    color: #B5BBC2;
  }

  .experienceinfo{
    .title{
      font-size: 1.2em;
    }
    .short{
      font-size: 14px;
    }
  }

}