@import '../styles/colors';

.hoteltitle {
  margin-bottom: 0;
}

.image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.pills {
  display: flex;
}

.pill {
  background-color: #F9D248;
  color: #FFF;
  border-radius: 5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .05rem;
  font-size: 12px;
  margin-right: 12px;
}

.description {
  margin-bottom: 64px;
}

.location {
  color: #B5BBC2;
  font-weight: 600;
}