@import '../styles/colors';

.navigationwrapper{
  @media (max-width: 1200px) {
    display: none;
  }
}

.navigation {
  font-weight: 900;
  font-size: .9rem;
  display: flex;
  padding: 32px 0 0 0;

  .navlogo {
    img {
      min-width: 100 !important;
    }
  }

  .navlinkswrapper {
    display: flex;
    align-items: center;
    flex: 1;

    .navlinks {
      display: flex;
      flex: 1;
      padding: 0 0 0 25px;

      .navlink {
        margin-left: 10px;

        a {
          text-decoration: none;
          padding: 5px 10px;
          border: 5px solid transparent;

          &:hover {
            border-bottom: 5px solid #F9D248;
          }
        }

      }
    }
  }

  .navlocales {
    display: flex;
    align-items: center;

    .navlocale {
      margin-left: 20px;

      a {
        text-decoration: none;
        padding: 5px 10px;
        border: 5px solid transparent;

      }
    }
  }
}