@import '../styles/colors';

.item {
  margin-bottom: 8px;
  margin-right: 0;
  display: block;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    width: 248px;
  }

  .mainpicture {
    background-size: cover;
    background-position: center;
    width: 100%;

    @media (min-width: 768px) {
      height: 200px;
    }
  }

  .textpart {
    text-decoration: none !important;
    padding: 20px;

    .title {
      font-size: 1.2em;
      font-weight: 700;
      padding-bottom: .5rem;
    }

    .block {
      display: flex;
      align-items: center;

      svg {
        margin-right: 4px;
      }
    }

    .address {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #F0F0F0;
      color: #B5BBC2;
      font-weight: 600;

      svg {
        min-width: 12px;
        align-self: flex-start;
        padding-top: 3px;
      }
    }

    .rating, .price {
      justify-content: space-between;
    }

    .price {
      padding-top: .5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #F0F0F0;
    }

    .description {
      max-height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin: 0;
      }
    }

    .button {
      background-color: #F9D248;
      color: #FFF;
      border-radius: 5rem;
      padding: .5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .05rem;
      font-size: 12px;
    }
  }



}